body, input {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", Roboto, -apple-system, Helvetica, Arial, sans-serif;;
}

.mermaid svg {
  overflow: hidden;
  max-width: 100%;
}

/** クラス図のテキスト */
[data-md-color-scheme="slate"] .mermaid text {
  fill: #eee !important;
}
